body, * {
  margin: 0;
  padding: 0;
  font-family: "Lato", Helvetica, sans-serif;
  letter-spacing: 0em;
}

body {
  text-align: center;
  background: white;
  color: #585b59;
  background: #DDE1E8;
}

#main {
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
  background: white;
}

#ribbon {
  padding: 1em;
  text-align: right;
}

a, a:visited {
  color: #009cff;
}

section {
  min-height: 200px;
  padding: 2em 3em;
}

section:not(.hero):nth-child(even) {
  background: #f4f7fb;
}

h1 {
}

h2 {
  margin-bottom: 0.5em;
  color: #283577;
}

h3 {
  color: #333;
  font-size: 1.1em;
}

p {
  margin-bottom: 1em;
}

p, li {
  line-height: 1.5em;
}

.hero {
  min-height: 350px;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center bottom;
  padding: 3em;
}

.hero img {
  margin-bottom: 0.5em;
}

.hero p {
  max-width: 60%;
  font-size: 1.05em;
  line-height: 1.5em;
}

.fgrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.fgrid li {
  margin-bottom: 1em;
  padding: 0.5em;
}

.fgrid img {
  margin: 1em;
  width: 35%;
  min-width: 50px;
}

.duplex {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.duplex div {
  margin: 0 2em 2em 0;
}

.duplex > img {
  margin-bottom: 1em;
}

.duplex h2 {
}

ul {
  margin: 1em;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .duplex {
    display: block;
 
  }
}

